.buttons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 0.5rem;
    margin-top: 0.5rem;
}

h1, h2, h3, p {
    font-family: 'ClashDisplay-Variable';
    margin: 0;
}

.project {
    border-radius: 1rem;
    border: solid 0.1rem black;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
}

.glass {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
}

body {
    background-color: black;
    background-image: url("$lib/wallpaper.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}